/* Reset Elements */
* {
    margin: 0;
    padding: 0;
}
/* Reset Elements */

/* Global */
body {
    background-color: #f5f5f5;
    background-image: url('../image/background.png');
}

.logo {
    font-family: Mangal;
    font-size: 6em;
    font-weight: bold;
}

.red {color: #EA1818;}
.blue {color: #3C2EF1;}

main {
    min-height: 550px;
}
/* Global */

/* White Box */
.white-box {
    margin-top: 100px;
    padding: 15px;
    background-color: #f5f5f5;
    border: 2px solid #3C2EF1;
    border-radius: 10px;
    box-shadow: 2px 2px #000;
}

.white-box img {
    height: 30px;
    width: 30px;
    border: 2px solid #3C2EF1;
    border-radius: 20px;
}

.white-box textarea {
    resize: none;
}

.white-box .settings-img {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    cursor: pointer;
}

.white-box #InputAvatar {
    display: none;
}

.white-box-popup {
    width: 350px;
    margin: 15px;
    z-index: 1000;
    position: fixed;
    right: 0;
}
/* White Box */

/* Hint */
.hint {
    padding-top: 5px;
    font-size: 16px;
    font-family: tahoma;
    font-weight: bold;
}
/* Hint */

/* Chat Board */
.chat-board {
    height: 100%;
    padding: 15px;
    background-color: #f5f5f5;
    border-right: 5px solid #3C2EF1;
    border-left: 5px solid #EA1818;
    overflow: hidden;
}
.chat-board .chat-board-content{
    height: 540px;
    width: 100%;
    overflow-y: scroll;
}

.message {
    margin-top: 10px;
    margin-bottom: 20px;
}

.message-box {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    border-top: 5px solid #EA1818;
}
.message-box input[type='text'] {
    height: 50px;
    width: 95%;
    padding: 5px;
    border: none;
    background-color: #f5f5f5;
}
.message-box #send-btn {
    font-size: 16pt;
    color: #3C2EF1;
    cursor: pointer;
}
.message-box #send-btn:hover {
    color: #EA1818;
}
/* Chat Board */

/* Footer & Copyrights */
footer {
    width: 100%;
    text-align: center;
}

.copyrights {
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    font-family: tahoma;
    font-weight: bold;
    text-align: center;
    color: #3C2EF1;
    background-color: #f5f5f5;
    border: 2px solid #EA1818;
    border-radius: 20px;
    box-shadow: 2px 2px #000;
    cursor: pointer;
}
.copyrights:hover {
    color: #EA1818;
    border-color: #3C2EF1;
}

.copyrights-left {
    margin: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}
/* Footer & Copyrights */

/* Button */
.btn {
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-family: tahoma;
    font-weight: bold;
    text-align: center;
    color: #3C2EF1;
    background-color: #f5f5f5;
    border: 2px solid #3C2EF1;
    border-radius: 20px;
    box-shadow: 2px 2px #000;
}
.btn:hover {
    color: #EA1818;
    border-color: #EA1818;
}

.btn-sm {
    width: 150px;
}

.btn-xs {
    width: 25px;
}

.btn-circle {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: 10px;
    padding: 7px 0 0 4px;
    font-size: 16pt;
}

.btn-corner {
    position: fixed;
    right: 0;
    bottom: 0;
}

.btn-space {
    right: 60px;
    padding-left: 1px;
}
/* Button */

/* Alert Message */
#alert-msg {
    cursor: pointer;
}
/* Alert Message */

/* Error Message */
.alert-danger ul {
    list-style: none;
}
/* Error Message */